.color{
    background:#eba0b3; /* 芍药耕红 */
    background:#7a7374; /* 锌灰 */
    background:#f1939c; /* 春梅红 */
    background:#ede3e7; /* 马鞭草紫 */
    background:#baccd9; /* 云水蓝 */

    background:#619ac3; /* 羽扇豆兰 */
    background:#93d5dc; /* 清水蓝 */

    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */
    background:#7a7374; /* 锌灰 */

}

/* 参考网站：http://zhongguose.com/ */