body{
    background:#f2f2f2;
}
.lifeCollectTitle{
    float:left;
    width:100%;
    border-bottom:2px solid rgba(255, 255, 255, 0.6);
    margin-top:0.2rem;
    margin-bottom:0.05rem;
}
.lifeCollectTitle p{
    width:2rem;
    background: rgba(0, 0, 0, 0.8);
    height:0.26rem;
    line-height: 0.26rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    text-indent: 0.05rem;
}
.lifeMainTitle{
    color:#33b8e8;
}
.lifeSecondTitle{
    color:#fff;
}
.collectItem{
    background:#fff;
    padding:0.05rem 0.08rem;
    height:1.5rem;
    margin:0.1rem 0;
}
.collectItem:nth-child(2n+1){
    float: left;
    width:48%;
}
.collectItem:nth-child(2n){
    float: right;
    width:48%;
}
.collectItemTitle{
    height:0.3rem;
    font-size: 0.15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:100%;
    float:left;
}
.collectItemImg{
    float:left;
    height:1rem;
    width:25%;
}
.collectItemContent{
    float:left;
    width:72%;
    margin-left:3%;
    line-height:0.25rem;
}
.lifePhotosItems{
    width:100%;
    padding:0.14rem 0.2rem;
    background: rgba(66, 83, 112, 0.8);
    margin:0.2rem auto;
    columns:auto 4;
    column-gap: 0.2rem;
}
.lifePhotosItems img{
    width:100%;
    height:auto;
    box-sizing: border-box;
    border:0.1rem solid rgba(255, 255, 255, 1);
    margin:0.06rem 0;
}

